services:
    db:
        image: mysql:8.0.35-debian
#        command: --default-authentication-plugin=mysql_native_password
        restart: always
        ports:
            - "3307:3306"
        environment:
            - MYSQL_ROOT_PASSWORD=dam
            - MYSQL_DATABASE=dam
            - MYSQL_USER=dam
            - MYSQL_PASSWORD=dam
        volumes:
            - pgl-escuela-danza-data:/var/lib/mysql:rw
            - ./db:/sql-scripts

    adminer:
        image: adminer:latest
        depends_on:
            - db
        restart: always
        ports:
            - "8081:8080"

volumes:
    pgl-escuela-danza-data:
        external: true
